/* Estilos generales */
html, body {
    font-family: Arial, sans-serif;
    background-color: #ac2d2d;
    margin: 0;
    padding: 0;
}

/* Estilos para la sección de encabezado */
.header-section {
    position: relative;
    text-align: center;
    color: white;
    height: 100vh; /* Ajustamos la altura para ocupar toda la pantalla */
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

/* Estilos de la barra de navegación */
.navbar {
    background: linear-gradient(45deg, rgba(30, 27, 27, 0.27), rgba(32, 35, 35, 0.22));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background 0.5s ease;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 20px;
    display: block;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden;
}

.navbar a::before, .navbar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: linear-gradient(45deg, #ff7f50, #ff4500, #ff6347);
    transition: width 0.4s ease, left 0.4s ease;
    z-index: -1;
}

.navbar a::before {
    top: 0;
    left: 50%;
}

.navbar a::after {
    bottom: 0;
    right: 50%;
}

.navbar a:hover::before, .navbar a:hover::after {
    width: 100%;
    left: 0;
    right: 0;
}

.navbar a:hover {
    color: #ffc300;
    transform: scale(1.1);
}

.navbar a::after {
    content: '';
    height: 3px;
    background: linear-gradient(45deg, #ff7f50, #ff4500, #ff6347);
    transition: width 0.4s ease, left 0.4s ease;
}

.navbar a.active, .navbar a.active::before, .navbar a.active::after {
    color: #ffeb3b;
    background: #ffeb3b;
}
.nav-itemg {
    position: absolute;
    padding:6%;
    left: 0;

}






/* Estilos para el título del encabezado */
#encabezado .artesania-title {
    position: absolute;
    top: 40%; /* Modificamos la posición vertical para centrar el título */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(230, 225, 225, 0);
    padding: 10px;
    border-radius: 50px;
    font-size: 70px;
    font-weight: bold;
    z-index: 13; /* Aseguramos que el título esté encima de la capa de opacidad */
    color: white; /* Cambiamos el color del texto a blanco */
    opacity: 300%;
}

/* Estilos para la imagen del encabezado */
.img__header {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative; /* Aseguramos que la capa de opacidad se superponga a la imagen */
}

/* Estilos para la capa de opacidad */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Color negro con una opacidad ajustada */
    z-index: 1; /* Aseguramos que esté encima de la imagen */
}

/* Estilos para el segundo div encima de la imagen */
.historia-container {
    position: absolute;
    top: 50%; /* Centramos verticalmente */
    left: 50%;
    transform: translate(-50%, -50%); /* Centramos horizontalmente */
    background-color: rgba(0, 0, 0, 0.0); /* Fondo con transparencia */
    color: white; /* Color de texto blanco */
    padding: 20px;
    border-radius: 10px;
    z-index: 2; /* Aseguramos que esté encima de la capa de opacidad */
}

.historia-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px; /* Aumentamos el margen inferior */
}

.blue-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 70%; /* Movemos el botón un poco más abajo */
    left: 50%;
    transform: translate(-50%, -50%); /* Centramos horizontalmente */
    z-index: 3; /* Aseguramos que el botón esté encima del overlay */
}

/* Resto de estilos */
.musicas-tocadas-container {
    background-color: #fff;
    padding: 20px;
    margin: 5px 0;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 120px;
}

.musica-item {
    margin-bottom: 40px;
    margin-right: 0;
    width: calc(20% - 50px);
    box-sizing: border-box;
}

.duo-ayacucho-title {
    font-size: 22px;
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 30px;
}

.img-duo-ayacucho {
    width: 400px;
    height: 300px;
    object-fit: fill;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.94);
    border: 5px solid rgba(168, 162, 31, 0.21);
    transition: transform 0.1s;
}

.img-duo-ayacucho:hover {
    transform: scale(1.15);
}

.click_enlace {
    text-decoration: none;
    font-family: "MS Mincho";
    color: rgba(239, 47, 80, 0.64);
    text-align: center;
}

/* Estilos para los modales */
.modal-content {
    background-color: #f8f9fa;
}

.modal-header {
    border-bottom: none;
    padding-bottom: 0;
}

.modal-body {
    text-align: center;
}

.modal-body img {
    max-width: 100%;
    height: auto;
}

.modal-title {
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
}

.modal-text {
    color: #000000;
    line-height: 1.6;
}

/* Estilos para el pie de página */
.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

.footer p {
    margin: 0;
    font-size: 14px;
    color: #7d6c6c;
}

/* Animación de explosión para los modales */
@keyframes explosion {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }
    70% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.modal-content.explode {
    animation: explosion 0.6s ease-in-out;
}
