body {
    font-family: 'Lora', serif;
    color: #333;
    background-color: #333; /* Fondo gris oscuro */
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

/* Estilos de la barra de navegación */
.navbar {
    background: linear-gradient(45deg, rgba(30, 27, 27, 0.27), rgba(32, 35, 35, 0.22));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background 0.5s ease;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 20px;
    display: block;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden;
}

.navbar a::before, .navbar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: linear-gradient(45deg, #ff7f50, #ff4500, #ff6347);
    transition: width 0.4s ease, left 0.4s ease;
    z-index: -1;
}

.navbar a::before {
    top: 0;
    left: 50%;
}

.navbar a::after {
    bottom: 0;
    right: 50%;
}

.navbar a:hover::before, .navbar a:hover::after {
    width: 100%;
    left: 0;
    right: 0;
}

.navbar a:hover {
    color: #ffc300;
    transform: scale(1.1);
}

.navbar a::after {
    content: '';
    height: 3px;
    background: linear-gradient(45deg, #ff7f50, #ff4500, #ff6347);
    transition: width 0.4s ease, left 0.4s ease;
}

.navbar a.active, .navbar a.active::before, .navbar a.active::after {
    color: #ffeb3b;
    background: #ffeb3b;
}
.nav-itemg {
    position: absolute;
    padding:6%;
    left: 0;

}








.header-section {
    position: relative;
    text-align: center;
    color: white;
    height: 100vh;
    overflow: hidden;
}

.img__header {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(40%);
    animation: zoomIn 10s ease-in-out infinite alternate;
}

@keyframes zoomIn {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
}
.artesania-title {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    text-shadow: 2px 2px 10px black;
    padding: 10px 20px;
    border-radius: 5px;
    animation: fadeIn 2s ease-in-out;
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sub-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    animation: fadeIn 3s ease-in-out;
    font-family: "Sawarabi Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.historia-container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.historia-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #dc3545;
}
.musica-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;
}

.musica-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.musica-item a {
    display: block;
    color: inherit;
    text-decoration: none;
}

.musica-item h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 10px;
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-shadow: 2px 2px 5px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: background-color 0.3s;
}

.musica-item:hover h2 {
    background-color: rgba(220, 53, 69, 0.8);
}

.img-duo-ayacucho {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.modal-content {
    border-radius: 10px;
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    font-size: 2rem;
    color: #dc3545;
    margin-top: 15px;
}

.modal-body img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.modal-text {
    font-size: 1.2rem;
    color: #555;
}
.musicas-tocadas-container{
    padding: 0 40px;
}
.navbar {
    background: linear-gradient(45deg, rgba(30, 27, 27, 0.27), rgba(32, 35, 35, 0.22));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background 0.5s ease;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 20px;
    display: block;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden;
}

.navbar a::before, .navbar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: linear-gradient(45deg, #ff7f50, #ff4500, #ff6347);
    transition: width 0.4s ease, left 0.4s ease;
    z-index: -1;
}

.navbar a::before {
    top: 0;
    left: 50%;
}

.navbar a::after {
    bottom: 0;
    right: 50%;
}

.navbar a:hover::before, .navbar a:hover::after {
    width: 100%;
    left: 0;
    right: 0;
}

.navbar a:hover {
    color: #ffc300;
    transform: scale(1.1);
}

.navbar a::after {
    content: '';
    height: 3px;
    background: linear-gradient(45deg, #ff7f50, #ff4500, #ff6347);
    transition: width 0.4s ease, left 0.4s ease;
}

.navbar a.active, .navbar a.active::before, .navbar a.active::after {
    color: #ffeb3b;
    background: #ffeb3b;
}
.nav-itemg {
    position: absolute;
    padding:6%;
    left: 0;

}
.linkp{
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
}
